#include "resource.h"

IDB_MYIMG	BITMAP	"Zombiebr.bmp"
IDB_CoinColour	BITMAP	"coin.bmp"
IDB_HealthPack	BITMAP	"HealthPack.bmp"
IDB_NewGame	BITMAP	"NewGame.bmp"
IDB_Options	BITMAP	"Options.bmp"
IDB_Exiting	BITMAP	"exit.bmp"
IDB_StartScreenBK	BITMAP	"Zombie_Apocalypse.bmp"
IDB_Highlight	BITMAP	"highlightbox.bmp"
IDB_StoreBK	BITMAP	"store.bmp"
IDB_Cost	BITMAP	"cost1.bmp"
IDB_Score	BITMAP	"score.bmp"
IDB_Front	BITMAP	"Front.bmp"
IDB_Right	BITMAP	"Right.bmp"
IDB_Left	BITMAP	"Left.bmp"
IDB_Back	BITMAP	"Back.bmp"
IDB_Walk	BITMAP	"walking.bmp"
IDB_OptionsScreen	BITMAP	"OptionsScreen.bmp"
IDB_Online BITMAP "PlayOnline.bmp"
IDB_Waiting BITMAP "searching_for_players.bmp"
IDB_Arrow BITMAP "Arrow.bmp"
IDB_OnlineF BITMAP "Online.bmp"
IDB_RotationF BITMAP "Rotation.bmp"
IDB_VectorsF BITMAP "Vectors.bmp"
IDB_Mechanics BITMAP "Mechanics.bmp"
IDB_MechanicsS BITMAP "MechanicsStart.bmp"
IDB_VectorsP BITMAP "VectorsP.bmp"
IDB_RotationP BITMAP "RotationP.bmp"
IDB_OnlineP BITMAP "OnlineP.bmp"
IDB_Volume BITMAP "Volume.bmp"
IDB_VolumeBar BITMAP "VolumeBar.bmp"
IDB_Circle BITMAP "Circle.bmp"
IDB_PauseScreen BITMAP "Paused.bmp"
IDB_Resume BITMAP "Resume.bmp"
IDB_OptionsPaused BITMAP "optionsPaused.bmp"
IDB_MainMenu BITMAP "MainMenu.bmp"
IDB_YouLost BITMAP "Gameover.bmp"
IDB_NewGameDead BITMAP "NewGameDead.bmp"
IDB_25hp BITMAP "25hp.bmp"
IDB_75hp BITMAP "75hp.bmp"
IDB_150hp BITMAP "150hp.bmp"
IDB_30d BITMAP "30d.bmp"
IDB_80d BITMAP "80d.bmp"
IDB_150d BITMAP "150d.bmp"
IDB_NextWave BITMAP "Next_Wave.bmp"
IDB_Wall BITMAP "wall.bmp"